@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  line-height: calc(1em + 0.8rem);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-family: "游ゴシック", "Athelas", "Noto Serif JP" "Yu Gothic", YuGothic,
    "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    Osaka, sans-serif;
}
h1,
h2,
h3,
h4,
dl,
dd,
ul,
form,
textarea,
figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block;
}

header {
  padding: 2rem 2rem 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  position: relative;
  padding: 0 5rem;
  margin: 0;
  flex-grow: 2;
  justify-content: center;
  top: -2rem;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  text-decoration: none;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.button {
  display: flex;
  align-items: center;
  margin-left: auto;
  transform: translateX(22%);
  margin-bottom: -4rem;
}

.button a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "Noto Serif JP", sans-serif;
  background-color: #606060;
  color: white;
  padding: 2rem 3rem;
  border: none;
}

.button a img {
  width: 40px;
  height: auto;
  margin-bottom: 0.5rem;
}

.button a:hover {
  background-color: #505050;
  color: white;
}

#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 2rem 1rem;
  position: relative;
  height: 80vh;
  z-index: 5;
}

.hero-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  align-items: center;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}

.text-container {
  margin-left: -5rem;
  margin-top: 10rem;
  z-index: 6;
}

.text-container p {
  background-color: white;
  padding: 0.5rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  font-family: "Noto Serif JP", sans-serif;
}

.layer-1 {
  padding-right: 8rem;
}

.layer-3 {
  padding-right: 4rem;
}

.layer-2 {
  padding-right: 2rem;
}

.hero-content h1 {
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  z-index: 6;
  font-size: 125px;
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 1rem;
}

.hero-image-wrapper {
  position: absolute;
  top: -100px;
  right: 80px;
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  z-index: 5;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2);
}

.vertical-copy {
  position: absolute;
  right: -125px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-size: 15px;
  margin-right: 0;
}

.service-header {
  position: relative;
  text-align: left;
  z-index: 6;
  margin: 8rem 12rem;
}

.overlay-text {
  font-size: 8rem;
  font-weight: 100;
  font-family: "Athelas", sans-serif;
  color: rgba(0, 0, 0, 1);
  opacity: 0.05;
  z-index: 1;
  pointer-events: none;
}

.main-text {
  font-size: 2rem;
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  color: #333;
  position: relative;
  margin: 0.5rem 1rem;
  z-index: 2;
}

.highlight {
  color: #6caf88;
}

.bold-highlight {
  color: #6caf88;
  font-weight: 900;
  font-size: 2.2rem;
  text-shadow: 2.2px 0 0 #6caf88;
}

.service-item-one {
  background-color: #f0f0f0;
  margin-left: 12rem;
  position: relative;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
}

.branding {
  margin: 0 6rem;
  padding: 6rem 0;
  position: relative;
  top: -7rem;
}

.brand-heading {
  font-family: "Athelas", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.marketing {
  display: block;
  margin-top: 2rem;
}

.brand-subheading {
  font-family: "Noto Serif JP", sans-serif;
  margin-top: 2rem;
}

.service-item-one p {
  font-family: "Noto Serif JP", sans-serif;
  margin: 3rem 6rem;
  position: absolute;
  top: 8rem;
  align-items: center;
  width: 30%;
  font-size: 15px;
}

.button-brand {
  font-family: "Noto Serif JP", sans-serif;
  margin: 0 6rem;
  position: relative;
  bottom: 3rem;
  padding: 20px 40px;
  font-size: 16px;
  border: 1px solid #6caf88;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-brand:hover {
  transform: translateY(-0.3em);
}

.button-brand:not(:hover) {
  transform: translateY(0);
}

.arrow {
  font-weight: 100;
  color: rgb(99, 173, 99);
}

.brand-illustration-wrapper {
  position: absolute;
  top: 8.3rem;
  right: 18rem;
  width: 50%;
  height: auto;
}

.brand-illustration {
  transform: scale(0.5);
  object-fit: cover;
  position: absolute;
  object-position: 0 45px;
}

.brand-image-wrapper {
  background-color: #6caf88;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  top: -3rem;
  right: 13rem;
  margin: 0 6rem;
  transform: rotate(3deg);
}

.brand-image {
  object-position: -60px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: auto;
  height: 100%;
  transform: rotate(-2deg);
}

.service-item-two {
  background-color: #f0f0f0;
  margin-right: 12rem;
  position: relative;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
}

.strategy {
  margin: 0 70rem;
  padding: 6rem 0;
  position: relative;
  top: -7rem;
}

.strategy-heading {
  font-family: "Athelas", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.coaching {
  display: block;
  margin-top: 2rem;
}

.strategy-subheading {
  font-family: "Noto Serif JP", sans-serif;
  margin-top: 2rem;
  writing-mode: horizontal-tb;
  white-space: nowrap;
}

.service-item-two p {
  font-family: "Noto Serif JP", sans-serif;
  margin: 3rem 70rem;
  position: absolute;
  top: 8rem;
  align-items: center;
  width: 30%;
  font-size: 15px;
}

.button-strategy {
  font-family: "Noto Serif JP", sans-serif;
  position: relative;
  bottom: 3rem;
  left: 69.5rem;
  padding: 20px 40px;
  font-size: 16px;
  border: 1px solid #6caf88;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-strategy:hover {
  transform: translateY(-0.3em);
}

.button-strategy:not(:hover) {
  transform: translateY(0);
}

.strategy-illustration-wrapper {
  position: absolute;
  top: 7.8rem;
  right: 20.5rem;
  width: 50%;
  height: auto;
}

.strategy-illustration {
  transform: scale(0.5);
  object-fit: cover;
  position: absolute;
  object-position: 0 45px;
}

.strategy-image-wrapper {
  background-color: #6caf88;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  top: -3rem;
  left: 13rem;
  margin: 0 6rem;
  transform: rotate(3deg);
}

.strategy-image {
  object-position: -211px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: auto;
  height: 100%;
  transform: rotate(-2deg);
}

.service-item-three {
  background-color: #f0f0f0;
  margin-left: 12rem;
  position: relative;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
}

.sales {
  margin: 0 6rem;
  padding: 6rem 0;
  position: relative;
  top: -7rem;
}

.sales-heading {
  font-family: "Athelas", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.communication {
  display: block;
  margin-top: 2rem;
}

.sales-subheading {
  font-family: "Noto Serif JP", sans-serif;
  margin-top: 2rem;
}

.service-item-three p {
  font-family: "Noto Serif JP", sans-serif;
  margin: 3rem 6rem;
  position: absolute;
  top: 8rem;
  align-items: center;
  width: 30%;
  font-size: 15px;
}

.button-sales {
  font-family: "Noto Serif JP", sans-serif;
  margin: 0 6rem;
  position: relative;
  bottom: 3rem;
  padding: 20px 40px;
  font-size: 16px;
  border: 1px solid #6caf88;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-sales:hover {
  transform: translateY(-0.3em);
}

.button-sales:not(:hover) {
  transform: translateY(0);
}

.sales-illustration-wrapper {
  position: absolute;
  top: 8.3rem;
  right: 18rem;
  width: 50%;
  height: auto;
}

.sales-illustration {
  transform: scale(0.5);
  object-fit: cover;
  position: absolute;
  object-position: 0 45px;
}

.sales-image-wrapper {
  background-color: #6caf88;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  top: -3rem;
  right: 13rem;
  margin: 0 6rem;
  transform: rotate(3deg);
}

.sales-image {
  object-position: -655px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: auto;
  height: 100%;
  transform: rotate(-2deg);
}

.work-header {
  position: relative;
  text-align: left;
  z-index: 6;
  margin: 5rem 12rem;
}

.work-container {
  background-color: #f0f0f0;
  position: relative;
  margin-bottom: 8rem;
  height: 34rem;
}

.paragraph-one {
  font-family: "Noto Serif JP", sans-serif;
  margin: -3rem 12rem;
  position: absolute;
  top: 8rem;
  align-items: center;
  width: 21%;
  font-size: 15px;
}

.paragraph-two {
  font-family: "Noto Serif JP", sans-serif;
  margin: 5rem 12rem;
  position: absolute;
  top: 8rem;
  align-items: center;
  width: 35%;
  font-size: 15px;
}

.button-work {
  font-family: "Noto Serif JP", sans-serif;
  margin: 0 11.8rem;
  position: relative;
  top: 18.5rem;
  padding: 20px 75px;
  font-size: 16px;
  border: 1px solid #6caf88;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-work:hover {
  transform: translateY(-0.3em);
}

.button-work:not(:hover) {
  transform: translateY(0);
}

.slider {
  position: relative;
  max-width: 100%;
  bottom: 10rem;
  margin-left: 50rem;
  overflow: hidden;
  border-radius: 10px;
  left: 15rem;
  transform: scale(0.9);
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  padding: 0 20px;
  box-sizing: border-box;
}

.post {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1rem;
  overflow: hidden;
}

.post h3 {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
  padding-left: 2rem;
}

.post p {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 0.9rem;
  color: #333;
  padding-left: 2rem;
  align-items: center;
  padding-right: 2rem;
}

.post:hover {
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(0.5em);
  overflow: hidden;
}

.post:not(:hover) {
  transition: all 0.3s;
  transform: translateX(0);
}

#news {
  margin-bottom: 8rem;
}

.news-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  text-align: left;
  z-index: 6;
  margin: 1rem 12rem;
}

.news-english {
  font-family: "Athelas", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.news-japanese {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.news-list {
  flex: 12;
  list-style: none;
  padding-right: 15rem;
  margin: 0;
  border-top: 1px sold #ddd;
}

.news-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transition: color 0.3s ease;
}

.news-item:hover {
  color: #6caf88;
  cursor: pointer;
}

.news-date {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 0.9rem;
  padding-left: 2rem;
}

.news-content {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 0.9rem;
  flex: 1;
  padding-left: 2rem;
}

#contact {
  position: relative;
  padding: 8rem 10rem;
  text-align: center;
  overflow: hidden;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("素材/mv_img.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(5px);
  z-index: -2;
}

#contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  position: relative;
  bottom: 3rem;
}

.contact-english {
  font-family: "Athelas", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact-highlight {
  color: #55946f;
}

.contact-japanese {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1rem;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.contact-button,
.contact-info {
  border-radius: 10px;
}

.contact-button {
  background-color: #55946f;
  margin-right: 3rem;
  padding: 2.7rem 6rem;
  transition: all 0.3s;
}

.contact-button:hover {
  background-color: #4d8865;
  cursor: pointer;
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.contact-button a:hover {
  color: white;
}

.contact-button img {
  margin-right: 1.2rem;
  width: 30px;
  height: auto;
  transform: scale(1.3);
}

.contact-info {
  border: 1.5px solid #55946f;
  padding: 0 2rem;
}

.contact-info p {
  font-family: "Noto Serif JP", sans-serif;
  margin: 1rem;
}

.contact-tel {
  color: #2d7a4d;
  font-size: 1.5rem;
}

.number {
  font-size: 2.5rem;
}

.time {
  font-size: 1rem;
}

footer {
  padding: 2rem 4rem;
  font-family: "Noto Serif JP", sans-serif;
}

.footer-logo {
  align-items: center;
  position: absolute;
  padding-top: 2rem;
  left: 15rem;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-left: 25rem;
  margin-right: 15rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.footer-address {
  margin: 0;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav ul li {
  margin-left: 2rem;
}

.footer-nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-contact {
  display: flex;
  align-items: center;
}

.footer-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #6caf88;
  padding: 1rem 0;
  padding-left: 2rem;
  padding-right: 3rem;
  transition: background-color 0.3s ease;
}

.footer-button img {
  margin-right: 0.5rem;
  width: 20px;
  margin-right: 1rem;
  height: auto;
}

.footer-button:hover {
  background-color: #55946f;
  color: white;
}

.footer-bottom {
  font-family: "Athelas", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 29rem;
}

/* clearfix 回り込み解除 ------------------------ */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* 共通 ------------------------ */
a {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:active,
a:hover {
  color: #6caf88;
}
a:focus {
  outline: none;
}

strong {
  font-size: 1.2em;
}
em {
  font-style: normal;
  font-weight: bold;
}

fieldset {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
map area:focus,
map area:active {
  outline: none;
  border: 0;
}

ul {
  list-style-type: none;
}
ul.disc,
ul.square {
  padding-left: 1.3em;
}
.disc li {
  list-style-type: disc;
}
.square li {
  list-style-type: square;
}
.decimal > li {
  list-style-type: decimal;
}

ul.kome li {
  text-indent: -1em;
  margin-left: 1em;
}
ul.kome li::before {
  content: "※";
}

ol.kome {
  padding-left: 5px;
}
ol.kome li {
  text-indent: -2em;
  margin-left: 2em;
}
ol.kome {
  list-style: none;
  counter-reset: number;
}
ol.kome li::before {
  counter-increment: number;
  content: "※" counter(number) " ";
}
.kome_red li::before {
  color: #c00;
}

ol.paren {
  padding-left: 1.8em;
}
ol.paren > li {
  list-style-type: none;
  counter-increment: paren;
}
ol.paren > li::before {
  content: "(" counter(paren) ") ";
  display: inline-block;
  width: 1.7em;
  margin-left: -1.8em;
  padding-left: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
  border-width: 0px;
  vertical-align: bottom;
}
img.middle {
  vertical-align: middle;
}

.serif {
  font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W6",
    "HiraMinProN-W6", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.big {
  font-size: 1.3em;
}
.small {
  font-size: 0.85em;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.marker {
  background: linear-gradient(transparent 50%, #fff284 0%);
}

.clear {
  clear: both;
}
.hide {
  display: none;
}
.iblock {
  display: inline-block;
}
.wide {
  width: 100%;
}
.indent {
  text-indent: -1em;
  padding-left: 1em;
}
.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.red,
.err {
  color: #c00;
}

.flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.flex-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.flex-center {
  -webkit-box-pack: center;
  justify-content: center;
}
.flex-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.flex-align-center {
  -webkit-box-align: center;
  align-items: center;
}

.item-center {
  display: grid;
  place-items: center;
}
.vh_ctr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.autofit {
  width: fit-content;
  margin-inline: auto;
}

.link-disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}

.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.is-hide {
  transform: translateY(-100%);
}
.is-empty {
  height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
}

/* youtube */
.youtube_wrap {
  aspect-ratio: 16 / 9;
}
.youtube_wrap > iframe {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* popup */
.white-popup {
  width: auto;
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

/* form ------------------------ */
label {
  display: inline-block;
}
select {
  padding: 3px 8px 6px;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  border-radius: 3px;
  padding: 4px 8px;
  font: 16px/1 inherit inherit;
  border: 1px solid #ccc;
}
input[type="submit"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input:is([type="text"], [type="num"]),
textarea,
select {
  margin: 3px 0;
}

input.t {
  width: 15%;
}
input.s {
  width: 30%;
}
input.m {
  width: 60%;
}
input.l {
  width: 98%;
}
textarea {
  width: 98%;
}
label input {
  margin: 0;
}

/* 959px 以下 ------------------------ */
@media screen and (max-width: 959px) {
  .pc_only {
    display: none;
  }
}

/* 599px 以下 ------------------------ */
@media screen and (max-width: 599px) {
  .sp_none {
    display: none;
  }

  input.t {
    width: 30%;
  }
  input.s {
    width: 60%;
  }
  input.m {
    width: 96%;
  }

  /* 横スクロール */
  .scrollWrap {
    width: 100%;
    padding-top: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scrollWrap > .scroll {
    margin-bottom: 20px;
    position: relative;
  }
  .scrollWrap > .scroll:before {
    content: "横にスクロールできます→";
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 13px;
  }
  .scrollWrap > .scroll > .hscroll {
    width: 640px;
  }
}

/* 600px 以上 ------------------------ */
@media screen and (min-width: 600px) {
  .sp_only {
    display: none;
  }
}

/* 960px 以上 ------------------------ */
@media screen and (min-width: 960px) {
  .pc_none {
    display: none;
  }

  .txt_vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  /* 選択中テキストの背景色とテキスト色 */
  ::selection {
    background: #b3d1c7;
  }

  /* 電話番号リンク PCで無効 */
  a[href^="tel: 123-4567-8910"] {
    cursor: default;
    pointer-events: none;
  }

  /* hover scale */
  a .scale {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  a:hover .scale {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/* Larger screens (4K) */
@media screen and (min-width: 2000px) {
  .logo img {
    width: 180px;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 5vw;
    margin-left: 4rem;
    margin-bottom: 3rem;
  }

  .text-container {
    margin-left: -23rem;
    margin-top: 18rem;
  }

  .hero-image-wrapper {
    width: 83%;
    height: 95%;
  }

  .service-header {
    margin: 8rem 15rem;
  }

  .service-item-one,
  .service-item-three {
    margin-left: 15rem;
    padding-bottom: 7rem;
  }

  .service-item-one p,
  .service-item-three p {
    margin: 3rem 8rem;
    width: 21%;
  }

  .button-brand,
  .button-sales {
    margin: 0 8rem;
    bottom: 7rem;
  }

  .brand-illustration-wrapper,
  .sales-illustration-wrapper {
    top: 14.3rem;
    right: 26rem;
  }

  .brand-image-wrapper,
  .sales-image-wrapper {
    width: 500px;
    height: 600px;
    top: -4rem;
    right: 34rem;
  }

  .service-item-two {
    margin-right: 15rem;
    padding-bottom: 7rem;
  }

  .strategy {
    margin: 0 99rem;
    padding: 8rem 0;
    top: -9.2rem;
  }

  .service-item-two p {
    margin: 3rem 99rem;
    top: 8rem;
    width: 21%;
  }

  .button-strategy {
    margin: 0 29rem;
    bottom: 7rem;
  }

  .strategy-illustration-wrapper {
    top: 13.8rem;
    right: 15.5rem;
  }

  .strategy-image-wrapper {
    width: 500px;
    height: 600px;
    top: -4rem;
    left: 30rem;
  }

  .branding,
  .sales {
    margin: 0 8rem;
    padding: 8rem 0;
    top: -9.2rem;
  }

  .work-header {
    margin: 10rem 15rem;
  }

  .work-container {
    padding-top: 2rem;
    height: 40rem;
  }

  .paragraph-one,
  .paragraph-two {
    width: 21%;
    margin: 3rem 15rem;
    position: static;
  }

  .button-work {
    margin: 3rem 15rem;
    top: 0.5rem;
    display: block;
    text-align: center;
  }

  .slider {
    left: 1rem;
    top: -42rem;
    width: 100%;
    transform: scale(0.6);
    height: auto;
  }

  .slide {
    padding: 0 20px;
  }

  .post h3 {
    font-size: 2rem;
  }

  .post p {
    font-size: 1.3rem;
  }

  .post img {
    width: 100%;
  }

  #news {
    margin-left: 15rem;
    margin-right: 10rem;
  }

  #contact {
    padding: 10rem 10rem;
  }

  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-content {
    flex-direction: row;
    align-items: flex-start;
  }

  footer {
    padding: 4rem 0;
    padding-left: 8rem;
    padding-right: 22rem;
  }

  .footer-logo {
    position: absolute;
    left: 17rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom {
    position: absolute;
    left: 33rem;
  }
}
